<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body>
<div class="div_centered"">
<h1 class="text_title">Login</h1><br>
<form id="loginForm">
    Username:<br>
    <input type="text" name="usernameEntry"><br>
    Password:<br>
    <input type="text" name="passwordEntry"><br>
</form> 
<button id="loginButton">Login</button><br>
<button id="signupButton">Sign Up</button><br>
<button id="recoverPasswordButton" style="margin-top:10%">Recover Password</button><br>
<div id="div_result"></div>

<script>
function getSignedCookie(pName) {
    return $.cookie(pName).match(/^s:(.*)\..*$/)[1];
};

$("#loginButton").click(() => {
    // Send form data using ajax post request.
    $.post("/auth/login", $("#loginForm").serialize()).done((pData) => {
        // Handle data received from server.
        if (pData.success) {
            $("#div_result").html("<p>Login successful! Redirecting to user page...</p>");
            if (getSignedCookie("emailConfirmed") == "true") {
                window.location.replace("/accounts/" + getSignedCookie("accountID"));
            }
            else { window.location.replace("/auth/verifyEmail"); }
        }
        else { $("#div_result").html("<p>Invalid username/password!</p>"); }
    });
});

$("#signupButton").click(() => {
    // Request the registration page.
    window.location.replace("/auth/register");
});

$("#recoverPasswordButton").click(() => {
    // Request the recover password page.
    window.location.replace("/auth/recoverPassword");
});
</script>
</div>
</body>

</html> 