<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div class="div_centered">
<h1 class="text_title">Reset Password</h1><br>
<form id="recoverPasswordForm">
    Username:<br>
    <input type="text" id="usernameEntry"><br>
</form> 
<button id="recoverPasswordButton">Reset</button><br>
<button id="returnToLoginButton">Return to Login</button><br>
<div id="div_result"></div>

<script>
    $("#recoverPasswordButton").click(() => {
        $.post("/auth/recoverPassword", $("#usernameEntry").val()).done((pData) => {
			switch (pData.result) {
				case "sent":
					// Password recovery email sent.
					$("#div_result").html("<p>Password recovery email sent to: " + $("#usernameEntry").val() +  "</p>");
					break;
				case "nouser":
					// Password recovery email failed to send due to a database error.
					$("#div_result").html("<p>Failed to send password recovery email! No user found.</p>");
					break;
				case "dberror":
					// Password recovery email failed to send due to a database error.
					$("#div_result").html("<p>Failed to send password recovery email! Unable to communicate with database, please try again later...</p>");
					break;
			}
        });
    });

    $("#returnToLoginButton").click(() => {
        window.location.replace("/auth/login");
    });
</script>
</div>
</body>

</html> 