<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="css/default.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div class="div_centered">
<h1 class="text_title">Reset Password</h1><br>
<form id="recoverPasswordForm">
    Username:<br>
    <input type="text" name="usernameEntry"><br>
</form> 
<button name="recoverPasswordButton">Reset</button><br>
<button id="returnToLoginButton">Return to Login</button><br>
<div id="div_result"></div>

<script>
    $("#recoverPasswordButton").click(() => {
        $.post("/recoverPassword", $("#recoverPasswordForm").serialize()).done((pData) => {
            if (pData.success) {
                // Password recovery email sent.
                $("#div_result").html("<p>Password recovery email sent to: " + $("#usernameEntry").val() +  "</p>");
            }
            else {
                // Password recovery email failed to send.
                $("#div_result").html("<p>Failed to send password recovery email!</p>");
            }
        });
    });

    $("#returnToLoginButton").click(() => {
        window.location.replace("/login");
    });
</script>
</div>
</body>

</html> 