body {
    background-color: gray;
}

h1.text_subtitle {
    text-decoration-line:underline;
    font-weight: bold;
    font-size: 100%;
}

h1.text_title {
    text-decoration-line:underline;
    font-weight: bold;
    font-size: 120%;
}

div.div_centered {
    text-align: center;
    margin: auto;
    display: table;
}

button {
    margin-top: 1%;
    border-color: darkslategrey;
    background-image: linear-gradient(90deg, grey, darkslategrey);
}
